.Home {
    display: flex;
    background-color: rgb(244, 244, 244);
}

.Home-Content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 78vw;
    padding-top: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
}

.Home-Content-Top {
    display: flex;
    justify-content: space-between;
}

.Home-Content-Middle {
    display: flex;
    gap: 2vw;
}

.Home-Content-Bottom {
    display: flex;
    justify-content: space-between;
}