.TransactionHistory {
    width: 52vw;
}

.TransactionHistory-Content {
    padding-left: 1vw;
    padding-right: 1vw;
}

.TransactionHistory-Content-Inner-Pannel {
    display: flex;
}

.TransactionHistory-Content-Reciever {
    width: 20vw;
}

.TransactionHistory-Content-Category {
    width: 10vw;
}