.UpcomingBills {
    display: flex;
    flex-direction: column;
    width: 10vw;
    background-color: white;
}

.UpcomingBills-Title {
    
}

.UpcomingBills-Content {
    display: flex;
    flex-direction: column;
}

.UpcomingBills-Content-Bill {
    display: flex;
    justify-content: space-between;
}